<div class="canvas-component">
  <div class="controls-panel">
    <select class="size-selector"
            [(ngModel)]="selectedSize"
            (change)="onSizeSelect()"
    >
      <option *ngFor="let size of canvasSizes"
              [value]="size">
        {{size}}
      </option>
    </select>
    <app-button text='Generate' backgroundColor="#77a809" (click)="onGenerateCircles()"></app-button>
    <div class="picker-wrapper">
      <div class="picker-inner"
           [style.background-color]="currentColor"></div>
      <input class="picker" type="color"
             [(ngModel)]="currentColor" />
    </div>
    <app-button text='Reset' backgroundColor="#0061a7" (click)="onResetColor()"></app-button>
    <app-button text='Fill All' backgroundColor="#ffab23" (click)="onFillCircles()"></app-button>
    <app-button text='Delete All' backgroundColor="#408c99" (click)="onDeleteAll()"></app-button>
    <app-button text='Save' backgroundColor="#408c99" [disabled]="!projectName" (click)="onSave()"></app-button>
    <input class="input" type="text" placeholder="ENTER Project Name" [(ngModel)]="projectName" />
  </div>
  <div class="circles-container container-{{selectedSize}}">
    <app-circle *ngFor="let circle of circles"
                [color]="circle.color"
                (click)="onCircleClick(circle)">
    </app-circle>
  </div>
  <div class="projects-container">
    <div *ngFor="let project of projectList; let i = index"
         class="project"
         (click)="selectProject(project)">
      <p>Project: {{project.name}}</p>
      <app-button text='Delete' backgroundColor="#bc3315" (click)="onDelete(i)"></app-button>
    </div>
  </div>
</div>

