.container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: auto;
 padding: 20px 20px;
}

.canvas-component {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: auto 100px;
  height: auto;
  background: linear-gradient(to right, #BBD2C5, #536976,#292E49);
  border-radius: 5px;
  padding: 10px;
}

.controls-panel {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 40px;
}

.circles-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 380px;
  padding: 20px;
}

.projects-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 40px;
}

.project {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  border-radius: 5px;
  margin: 0 5px 10px 0;
  font-weight: bold;
  align-content: center;
  cursor: pointer;
  background: linear-gradient(to left, #BBD2C5, #536976,#292E49);
}

.project p {
  text-overflow: ellipsis;
  display: block;
  width: 100px;
  overflow: hidden;     
  white-space: nowrap;
}

.circles-container.container-100 {
  width: 280px;
}

.circles-container.container-225 {
  width: 420px;
}

.container-400 {
  width: 560px;
}

.picker-wrapper {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  margin-left: 10px;
  border-radius: 30px;
  cursor: pointer;
}

.picker-inner {
  display: flex;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 30px;
}

.picker {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  border-radius: 30px;
  opacity: 0;
}

.input {
  border: none;
  border-radius: 5px;
  padding: 3px 5px;
  font-weight:600;
  color: #010249;
  font-family:Arial, Helvetica, sans-serif
}
.input:focus {
 outline: none;
}

@media (max-width: 870px) {
  .canvas-component {
    margin:0;
  }
}

@media (max-width: 670px) {
  .canvas-component {
    margin:0;
    width: 75%;
  }
  .controls-panel {
    flex-flow: column wrap;
  }
}
