<app-header></app-header>
<div class="container">
  <div class="canvas-component">
    <div class="controls-panel">
      <select class="size-selector"
              [(ngModel)]="selectedSize"
              (change)="onSizeSelect()"
      >
        <option *ngFor="let size of canvasSizes"
                [value]="size">
          {{size}}
        </option>
      </select>
      <app-button text='Generate' backgroundColor="#4CAF50" (click)="onGenerateCircles()"></app-button>
      <div class="picker-wrapper">
        <div class="picker-inner"
             [style.background-color]="currentColor"></div>
        <input class="picker" type="color"
               [(ngModel)]="currentColor" />
      </div>
      <app-button text='Reset' backgroundColor="#c62d1f" [disabled]="!circles.length || !resetDisable" (click)="onResetColor()"></app-button>
      <app-button text='Fill All' backgroundColor="#008CBA" [disabled]="!circles.length || fillDisable" (click)="onFillCircles()"></app-button>
      <app-button text='Delete All' backgroundColor="#c62d1f" [disabled]="!projectList.length" (click)="onDeleteAll()"></app-button>
      <app-button text='Save' backgroundColor="#008CBA" [disabled]="!projectName || !circles.length" (click)="onSave()"></app-button>
      <input class="input" type="text" placeholder="ENTER Project Name" [style.pointer-events]='pointer' [(ngModel)]="projectName" />
    </div>
    <div class="circles-container container-{{selectedSize}}">
      <app-circle *ngFor="let circle of circles"
                  [color]="circle.color"
                  (click)="onCircleClick(circle)">
      </app-circle>
    </div>
    <div class="projects-container" *ngIf="projectList.length">
      <div *ngFor="let project of projectList; let i = index">
           <div class="project" *ngIf="currentUser === project.user" (click)="selectProject(project)">
        <p>Project: {{project.name}}</p>
        <app-button text='Delete' backgroundColor="#c62d1f" (click)="onDelete(i)"></app-button>
      </div>
      </div>
    </div>
  </div> 
</div>

