.header-container{
    display: flex;
    background: linear-gradient(to top, #BBD2C5, #536976,#292E49);
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.header-container p {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;;
}